CLASES/M4[[:space:]]-[[:space:]]DIVISIÓN[[:space:]]Y[[:space:]]CONQUISTA/DyC_puntosMasCercanos.pdf filter=lfs diff=lfs merge=lfs -text
CLASES/M8[[:space:]]-[[:space:]]ALGORITMOS[[:space:]]RANDOMIZADOS/randomizadosPresentacion.pdf filter=lfs diff=lfs merge=lfs -text
EXAMENES/DEFENSA[[:space:]]TPS/caro/tp1.pdf filter=lfs diff=lfs merge=lfs -text
EXAMENES/DEFENSA[[:space:]]TPS/caro/tp3-notas-p1.pdf filter=lfs diff=lfs merge=lfs -text
GUIAS/M6-Redes[[:space:]]de[[:space:]]Flujo.pdf filter=lfs diff=lfs merge=lfs -text
GUIAS/M7-EJ4.pdf filter=lfs diff=lfs merge=lfs -text
CLASES/M6[[:space:]]-[[:space:]]REDES[[:space:]]2/RedesFlujo_programacion_vuelos.pdf filter=lfs diff=lfs merge=lfs -text
CLASES/M7[[:space:]]-[[:space:]]PROBLEMAS[[:space:]]NP[[:space:]]COMPLEJOS/ConjuntoIndependiente.pdf filter=lfs diff=lfs merge=lfs -text
CLASES/M8[[:space:]]-[[:space:]]ALGORITMOS[[:space:]]RANDOMIZADOS/mezclaAleatoria.pdf filter=lfs diff=lfs merge=lfs -text
EXAMENES/DEFENSA[[:space:]]TPS/Flujo.pdf filter=lfs diff=lfs merge=lfs -text
EXAMENES/DEFENSA[[:space:]]TPS/caro/notas.pdf filter=lfs diff=lfs merge=lfs -text
CLASES/M5[[:space:]]-[[:space:]]PROGRAMACIÓN[[:space:]]DINÁMICA/02[[:space:]]-[[:space:]]Programación[[:space:]]de[[:space:]]intervalos[[:space:]]con[[:space:]]costo.pdf filter=lfs diff=lfs merge=lfs -text
CLASES/M6[[:space:]]-[[:space:]]REDES[[:space:]]1/RedesFlujo_variantes.pdf filter=lfs diff=lfs merge=lfs -text
CLASES/M7[[:space:]]-[[:space:]]PROBLEMAS[[:space:]]NP[[:space:]]COMPLEJOS/ProblemasNPCompletos.pdf filter=lfs diff=lfs merge=lfs -text
EXAMENES/DEFENSA[[:space:]]TPS/caro/tp3-notas-reentrega.pdf filter=lfs diff=lfs merge=lfs -text
GUIAS/M9-Algoritmos[[:space:]]de[[:space:]]Aproximación.pdf filter=lfs diff=lfs merge=lfs -text
CLASES/M5[[:space:]]-[[:space:]]PROGRAMACIÓN[[:space:]]DINÁMICA/01[[:space:]]-[[:space:]]Presentación.pdf filter=lfs diff=lfs merge=lfs -text
CLASES/M5[[:space:]]-[[:space:]]PROGRAMACIÓN[[:space:]]DINÁMICA/09[[:space:]]-[[:space:]]Problema[[:space:]]del[[:space:]]viajante.pdf filter=lfs diff=lfs merge=lfs -text
GUIAS/M7-EJ8.pdf filter=lfs diff=lfs merge=lfs -text
CLASES/M5[[:space:]]-[[:space:]]PROGRAMACIÓN[[:space:]]DINÁMICA/07[[:space:]]-[[:space:]]Algoritmo[[:space:]]Kadane[[:space:]](Maximum[[:space:]]Subarray[[:space:]]Problem).pdf filter=lfs diff=lfs merge=lfs -text
EXAMENES/DEFENSA[[:space:]]TPS/caro/tp3-notas-p2.pdf filter=lfs diff=lfs merge=lfs -text
EXAMENES/DEFENSA[[:space:]]TPS/resumed-informe-tp2-greedyneta.pdf filter=lfs diff=lfs merge=lfs -text
CLASES/M8[[:space:]]-[[:space:]]ALGORITMOS[[:space:]]RANDOMIZADOS/Contention[[:space:]]Resolution.pdf filter=lfs diff=lfs merge=lfs -text
GUIAS/M5-Programación[[:space:]]dinámica.pdf filter=lfs diff=lfs merge=lfs -text
GUIAS/M8-Algoritmos[[:space:]]Ranzomizados.pdf filter=lfs diff=lfs merge=lfs -text
CLASES/M6[[:space:]]-[[:space:]]REDES[[:space:]]1/RedesFlujo_presentacion.pdf filter=lfs diff=lfs merge=lfs -text
CLASES/M6[[:space:]]-[[:space:]]REDES[[:space:]]2/RedesFlujo_Torneo.pdf filter=lfs diff=lfs merge=lfs -text
CLASES/M6[[:space:]]-[[:space:]]REDES[[:space:]]2/RedesFlujo_mejoras.pdf filter=lfs diff=lfs merge=lfs -text
MATERIAL/M3[[:space:]]-[[:space:]]Greedy.pdf filter=lfs diff=lfs merge=lfs -text
RESUMENES/INTEGRADOR.pdf filter=lfs diff=lfs merge=lfs -text
CLASES/M1[[:space:]]-[[:space:]]PRESENTACIÓN/02-Introduccion.pdf filter=lfs diff=lfs merge=lfs -text
CLASES/M4[[:space:]]-[[:space:]]DIVISIÓN[[:space:]]Y[[:space:]]CONQUISTA/DyC_karatsuba.pdf filter=lfs diff=lfs merge=lfs -text
CLASES/M4[[:space:]]-[[:space:]]DIVISIÓN[[:space:]]Y[[:space:]]CONQUISTA/DyC_teoremamaestro.pdf filter=lfs diff=lfs merge=lfs -text
CLASES/M8[[:space:]]-[[:space:]]ALGORITMOS[[:space:]]RANDOMIZADOS/kEdgeConnectivity.pdf filter=lfs diff=lfs merge=lfs -text
EXAMENES/DEFENSA[[:space:]]TPS/caro/tp2-notas-p1.pdf filter=lfs diff=lfs merge=lfs -text
EXAMENES/DEFENSA[[:space:]]TPS/caro/tp3.pdf filter=lfs diff=lfs merge=lfs -text
GUIAS/M4-División[[:space:]]y[[:space:]]Conquista.pdf filter=lfs diff=lfs merge=lfs -text
CLASES/M4[[:space:]]-[[:space:]]DIVISIÓN[[:space:]]Y[[:space:]]CONQUISTA/DyC_contandoinversiones.pdf filter=lfs diff=lfs merge=lfs -text
CLASES/M4[[:space:]]-[[:space:]]DIVISIÓN[[:space:]]Y[[:space:]]CONQUISTA/DyC_presentacion.pdf filter=lfs diff=lfs merge=lfs -text
CLASES/M6[[:space:]]-[[:space:]]REDES[[:space:]]1/Resumido[[:space:]]-[[:space:]]Apunte[[:space:]]TDA[[:space:]]-[[:space:]]Redes[[:space:]]de[[:space:]]flujo.pdf filter=lfs diff=lfs merge=lfs -text
CLASES/M7[[:space:]]-[[:space:]]PROBLEMAS[[:space:]]NP[[:space:]]COMPLEJOS/reduccionesPolinomiales.pdf filter=lfs diff=lfs merge=lfs -text
EXAMENES/DEFENSA[[:space:]]TPS/caro/tp2-notas-p3.pdf filter=lfs diff=lfs merge=lfs -text
BIBLIOGRAFIA/[CLRS][[:space:]]-[[:space:]]Thomas[[:space:]]H.[[:space:]]Cormen,[[:space:]]Charles[[:space:]]E.[[:space:]]Leiserson,[[:space:]]Ronald[[:space:]]L.[[:space:]]Rivest,[[:space:]]Clifford[[:space:]]Stein[[:space:]]Introduction[[:space:]]to[[:space:]]Algorithms,[[:space:]]Third[[:space:]]Edition[[:space:]][[:space:]]2009.pdf filter=lfs diff=lfs merge=lfs -text
CLASES/M6[[:space:]]-[[:space:]]REDES[[:space:]]1/RedesFlujo_fordFulkerson.pdf filter=lfs diff=lfs merge=lfs -text
EXAMENES/DEFENSA[[:space:]]TPS/caro/tp2.pdf filter=lfs diff=lfs merge=lfs -text
EXAMENES/DEFENSA[[:space:]]TPS/resumed-tp3-greedyneta-informe.pdf filter=lfs diff=lfs merge=lfs -text
TPs/TP1/Oficial[[:space:]]Documentation.pdf filter=lfs diff=lfs merge=lfs -text
EXAMENES/DEFENSA[[:space:]]TPS/triangulito.pdf filter=lfs diff=lfs merge=lfs -text
CLASES/M1[[:space:]]-[[:space:]]PRESENTACIÓN/01-Presentacion[[:space:]]materia.pdf filter=lfs diff=lfs merge=lfs -text
CLASES/M4[[:space:]]-[[:space:]]DIVISIÓN[[:space:]]Y[[:space:]]CONQUISTA/DyC_convexos.pdf filter=lfs diff=lfs merge=lfs -text
CLASES/M5[[:space:]]-[[:space:]]PROGRAMACIÓN[[:space:]]DINÁMICA/04[[:space:]]-[[:space:]]Seam[[:space:]]Carving[[:space:]]“reloaded”.pdf filter=lfs diff=lfs merge=lfs -text
CLASES/M5[[:space:]]-[[:space:]]PROGRAMACIÓN[[:space:]]DINÁMICA/05[[:space:]]-[[:space:]]Problema[[:space:]]de[[:space:]]la[[:space:]]mochila.pdf filter=lfs diff=lfs merge=lfs -text
CLASES/M6[[:space:]]-[[:space:]]REDES[[:space:]]2/EdmondsKarp_ejemplo.pdf filter=lfs diff=lfs merge=lfs -text
CLASES/M1[[:space:]]-[[:space:]]PRESENTACIÓN/03-Primer[[:space:]]problema.pdf filter=lfs diff=lfs merge=lfs -text
CLASES/M5[[:space:]]-[[:space:]]PROGRAMACIÓN[[:space:]]DINÁMICA/03[[:space:]]-[[:space:]]Cambio[[:space:]]en[[:space:]]monedas.pdf filter=lfs diff=lfs merge=lfs -text
CLASES/M7[[:space:]]-[[:space:]]PROBLEMAS[[:space:]]NP[[:space:]]COMPLEJOS/ClasesComplejidad_PvsNP.pdf filter=lfs diff=lfs merge=lfs -text
GUIAS/M3-Greedy.pdf filter=lfs diff=lfs merge=lfs -text
CLASES/M5[[:space:]]-[[:space:]]PROGRAMACIÓN[[:space:]]DINÁMICA/06[[:space:]]-[[:space:]]Bellman[[:space:]]Ford.pdf filter=lfs diff=lfs merge=lfs -text
CLASES/M5[[:space:]]-[[:space:]]PROGRAMACIÓN[[:space:]]DINÁMICA/08[[:space:]]-[[:space:]]Mínimos[[:space:]]cuadrados[[:space:]]segmentados.pdf filter=lfs diff=lfs merge=lfs -text
EXAMENES/DEFENSA[[:space:]]TPS/caro/tp3-notas-complejidad.pdf filter=lfs diff=lfs merge=lfs -text
BIBLIOGRAFIA/[KT][[:space:]]-[[:space:]]Algorithm[[:space:]]Design[[:space:]]by[[:space:]]Jon[[:space:]]Kleinberg,[[:space:]]Eva[[:space:]]Tardos.pdf filter=lfs diff=lfs merge=lfs -text
CLASES/M6[[:space:]]-[[:space:]]REDES[[:space:]]1/FordFulkerson_ejemplo.pdf filter=lfs diff=lfs merge=lfs -text
CLASES/M7[[:space:]]-[[:space:]]PROBLEMAS[[:space:]]NP[[:space:]]COMPLEJOS/01[[:space:]]-[[:space:]]P[[:space:]]vs[[:space:]]NP.pdf filter=lfs diff=lfs merge=lfs -text
EXAMENES/DEFENSA[[:space:]]TPS/caro/tp2-notas-p2.pdf filter=lfs diff=lfs merge=lfs -text
GUIAS/M7-EJ5.pdf filter=lfs diff=lfs merge=lfs -text
BIBLIOGRAFIA/[S][[:space:]]-[[:space:]]Introduction[[:space:]]to[[:space:]]the[[:space:]]theory[[:space:]]of[[:space:]]computation_third[[:space:]]edition[[:space:]]-[[:space:]]Michael[[:space:]]Sipser.pdf filter=lfs diff=lfs merge=lfs -text
CLASES/M6[[:space:]]-[[:space:]]REDES[[:space:]]1/RedesFlujo_Encuesta.pdf filter=lfs diff=lfs merge=lfs -text
EXAMENES/2023C1-F5.pdf filter=lfs diff=lfs merge=lfs -text
MATERIAL/Apunte[[:space:]]TDA[[:space:]]-[[:space:]]Clases[[:space:]]de[[:space:]]complejidad.pdf filter=lfs diff=lfs merge=lfs -text
CLASES/M6[[:space:]]-[[:space:]]REDES[[:space:]]1/RedesFlujo_proyectos.pdf filter=lfs diff=lfs merge=lfs -text
CLASES/M6[[:space:]]-[[:space:]]REDES[[:space:]]2/RedesFlujo_segmentacion.pdf filter=lfs diff=lfs merge=lfs -text
GUIAS/M7-Problemas[[:space:]]NP[[:space:]]Completos.pdf filter=lfs diff=lfs merge=lfs -text
